<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>W</key>
	<array>
		<dict>
			<key>name</key>
			<string>王文豪</string>
			<key>age</key>
			<string>22</string>
			<key>sex</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>18037122059</string>
			<key>pictureName</key>
			<string>wangwenhao.jpeg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>万高杰</string>
			<key>age</key>
			<string>24</string>
			<key>sex</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>18236959891</string>
			<key>pictureName</key>
			<string>wangaojie.jpeg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>王琼</string>
			<key>age</key>
			<string>24</string>
			<key>sex</key>
			<string>女</string>
			<key>phoneNum</key>
			<string>15091429643</string>
			<key>pictureName</key>
			<string>wangqiong.jpeg</string>
		</dict>
	</array>
	<key>H</key>
	<array>
		<dict>
			<key>name</key>
			<string>韩山虎</string>
			<key>age</key>
			<string>24</string>
			<key>sex</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>15037132865</string>
			<key>pictureName</key>
			<string>hanshanhu.jpeg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>韩森</string>
			<key>age</key>
			<string>22</string>
			<key>sex</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>13592133086</string>
			<key>pictureName</key>
			<string>hansen.jpeg</string>
		</dict>
	</array>
	<key>S</key>
	<array>
		<dict>
			<key>name</key>
			<string>时伟轩</string>
			<key>age</key>
			<string>23</string>
			<key>sex</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>18739974873</string>
			<key>pictureName</key>
			<string>shiweixuan.jpeg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>孙建斌</string>
			<key>age</key>
			<string>23</string>
			<key>sex</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>18739975120</string>
			<key>pictureName</key>
			<string>sunjianbin.jpeg</string>
		</dict>
	</array>
	<key>L</key>
	<array>
		<dict>
			<key>name</key>
			<string>李里</string>
			<key>age</key>
			<string>24</string>
			<key>sex</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>15638911387</string>
			<key>pictureName</key>
			<string>lili.jpeg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>刘东洋</string>
			<key>age</key>
			<string>23</string>
			<key>sex</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>15515635783</string>
			<key>pictureName</key>
			<string>liudongyang.jpeg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>李鹏飞</string>
			<key>age</key>
			<string>23</string>
			<key>sex</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>15039410323</string>
			<key>pictureName</key>
			<string>lipengfei.jpeg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>刘鹏飞</string>
			<key>age</key>
			<string>22</string>
			<key>sex</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>15515691876</string>
			<key>pictureName</key>
			<string>liupengfei.jpeg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>李平</string>
			<key>age</key>
			<string>22</string>
			<key>sex</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>18037108618</string>
			<key>pictureName</key>
			<string>liping.jpeg</string>
		</dict>
	</array>
	<key>D</key>
	<array>
		<dict>
			<key>name</key>
			<string>杜春雷</string>
			<key>age</key>
			<string>16</string>
			<key>sex</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>15517817701</string>
			<key>pictureName</key>
			<string>duchunlei.jpeg</string>
		</dict>
	</array>
	<key>G</key>
	<array>
		<dict>
			<key>name</key>
			<string>郭俊龙</string>
			<key>age</key>
			<string>24</string>
			<key>sex</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>15036176130</string>
			<key>pictureName</key>
			<string>guojunlong.jpeg</string>
		</dict>
	</array>
	<key>Z</key>
	<array>
		<dict>
			<key>name</key>
			<string>赵铭</string>
			<key>age</key>
			<string>24</string>
			<key>sex</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>15039058430</string>
			<key>pictureName</key>
			<string>zhaoming.jpeg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张体宾</string>
			<key>age</key>
			<string>24</string>
			<key>sex</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>15838395638</string>
			<key>pictureName</key>
			<string>zhangtibin.jpeg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张一力</string>
			<key>age</key>
			<string>23</string>
			<key>sex</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>18739975242</string>
			<key>pictureName</key>
			<string>zhangyili.jpeg</string>
		</dict>
	</array>
	<key>X</key>
	<array>
		<dict>
			<key>name</key>
			<string>熊国兵</string>
			<key>age</key>
			<string>23</string>
			<key>sex</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>13523999673</string>
			<key>pictureName</key>
			<string>xiongguobing.jpeg</string>
		</dict>
	</array>
	<key>Y</key>
	<array>
		<dict>
			<key>name</key>
			<string>杨唯</string>
			<key>age</key>
			<string>24</string>
			<key>sex</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>15036169855</string>
			<key>pictureName</key>
			<string>yangwei.jpeg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>岳景林</string>
			<key>age</key>
			<string>24</string>
			<key>sex</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>15981831205</string>
			<key>pictureName</key>
			<string>yuejinglin.jpeg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>余洪江</string>
			<key>age</key>
			<string>24</string>
			<key>sex</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>13223029186</string>
			<key>pictureName</key>
			<string>yuhongjiang.jpeg</string>
		</dict>
	</array>
	<key>C</key>
	<array>
		<dict>
			<key>name</key>
			<string>陈龙海</string>
			<key>age</key>
			<string>23</string>
			<key>sex</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>15617650393</string>
			<key>pictureName</key>
			<string>chenlonghai.jpeg</string>
		</dict>
	</array>
	<key>M</key>
	<array>
		<dict>
			<key>name</key>
			<string>马顺</string>
			<key>age</key>
			<string>24</string>
			<key>sex</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>15393703720</string>
			<key>pictureName</key>
			<string>mashun.jpeg</string>
		</dict>
	</array>
</dict>
</plist>
